/* Minden elem méretébe számítson bele a border mérete is,
így nem fog kilógni a kerete, ha 100% a szélessége vagy a magassága */
* {
  box-sizing: border-box;
}

/* Az oldalam foglalja el az egész ablakot, ne legyen se margó se keret se helykitöltés
legyen fekete a háttér, és ne legyen látható (scrollozható) az ami lelóg az oldalról */
html, body {
  display: block;
  height:  100%;
  margin:  0px;
  padding: 0px;
  border: 0px;
  background-color: black;
  overflow: hidden;
}

/* Aminek basicBorder a class-a annak legyen ilyen szép keret */
.basicBorder {
  border: solid rgb(48, 32, 8);
  border-radius: 0.5rem;
}

/* A MainWrapper  legyen kicsit kissebb mint az oldal és legyen más a háttérszíne */
#MainWrapper {
  display: block;
  height: 98%;
  margin: 1%;
  padding: 1rem;
  background-color: rgb(46, 26, 5);
}
